.rectangle {
	position: absolute;
	width: 1280px;
	height: 720px;
	left: 0px;
	top: 0px;

	background: #57b9bb;
}
.BG {
	position: absolute;
	width: 1280px;
	height: 720px;
	left: calc(50% - 1280px / 2);
	top: calc(50% - 720px / 2);
}
.wheel {
	position: absolute;
	width: 1280px;
	height: 720px;
	left: 0px;
	top: 0px;

	background: url(Images/Wheel.png);
}

.grid-container {
	display: grid;
	height: 100%;
	width: 100%;
}

.inner-grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 100%;
}
.grid-item {
	padding: 20px;
}

.inner-text {
	position: absolute;
	width: 578px;
	height: 74px;
	left: 0px;
	top: 0px;

	font-family: "Arvo";
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	/* identical to box height, or 123% */
	align-items: center;
	text-align: center;

	color: #ffffff;
}
.title {
	position: absolute;
	width: 578px;
	height: 74px;
	left: calc(50% - 578px / 2);
	top: 135px;
}

.container-article-1 {
	position: absolute;
	width: 240px;
	height: 191px;
	left: 201px;
	top: 255px;
	font-family: "OpenSans";
	font-size: 12px;
	line-height: 16px;
	/* or 133% */
	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}

.Icon {
	position: absolute;
	width: 76px;
	height: 76px;
	left: 82px;
	top: 0px;
}
.article-title {
	position: absolute;
	width: 152px;
	height: 15px;
	left: 43.5px;
	top: 88px;

	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	display: flex;
	align-items: flex-end;
	text-align: center;
	letter-spacing: 2.4px;

	color: #ffffff;
}

.article-text {
	position: absolute;
	width: 240px;
	height: 66px;
	left: 1px;
	top: 129px;

	font-family: "OpenSans";
	font-size: 12px;
	line-height: 16px;
	/* or 133% */
	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}
.container-article-2 {
	position: absolute;
	width: 224px;
	height: 246px;
	right: 527px;
	top: 255px;
}

.container-article-3 {
	position: absolute;
	width: 231px;
	height: 245px;
	right: 204px;
	top: 256px;
}

.learn-more-btn {
	border: #ffffff;
	position: absolute;
	width: 235px;
	height: 61px;
	right: 522px;
	bottom: 132px;
	background: #ffc80a;
	border-radius: 49.5px;
}