.logo {
    font-size: 82.63px;
    font-family: "MrsEavesItalic";
    font-style: italic;
    color: rgba(255, 255, 255, 0.678);
    line-height: 0.278;
    text-align: justifyLeft;
    position: absolute;
    left: 238.45px;
    top: 104.153px;
    z-index: 163;
}

.melopikcha {
    background-image: url("images\\bg.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 867px;
    z-index: 3;
}

.Solutions_Products_Portfolio {
    font-size: 22.63px;
    font-family: "SegoeWPN";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    position: absolute;
    left: 629.254px;
    top: 52.145px;
    width: 476px;
    height: 19px;
    z-index: 109;
}


/* Баннер */
.icon {
    background-image: url("images\\icon.png");
    position: absolute;
    left: 251px;
    top: 198px;
    width: 344px;
    height: 345px;
    z-index: 92;
}

.Introducing {
    font-size: 64.63px;
    font-family: "SegoeWPN";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 650.562px;
    top: 244.842px;
    width: 337px;
    height: 112px;
    z-index: 54;
}

.Something_hot {
    font-size: 44.63px;
    font-family: "SegoeWPN";
    font-style: italic;
    color: rgb(179, 166, 166);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 650.562px;
    top: 310.842px;
    width: 447px;
    height: 112px;
    z-index: 54;
}

.Try_Demo {
    font-size: 22.63px;
    font-family: "SegoeWPN";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    position: absolute;
    left: 676.554px;
    top: 400.145px;
    width: 93px;
    height: 23px;
    z-index: 56;
}

.Shape_10 {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(56, 155, 97);
    opacity: 0.155;
    position: absolute;
    left: 652px;
    top: 387px;
    width: 142px;
    height: 42px;
    z-index: 55;
}

/* Вкладки */
.tabs {
    background-image: url("images\\tabs.png");
    position: absolute;
    left: 128px;
    top: 551px;
    width: 1030px;
    height: 1092px;
    z-index: 161;
}

/* Почему? */
.screen_shot {
    background-image: url("images\\screen shot.png");
    position: absolute;
    left: 114px;
    top: 1661px;
    width: 486px;
    height: 338px;
    z-index: 107;
}

.Why_choose_us {
    font-size: 32.63px;
    font-family: "SegoeWPN";
    color: rgb(79, 79, 79);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 635.924px;
    top: 1688.364px;
    z-index: 95;
}

.Lorem_Ipsum_is_simply_dummy_text_of_the_printin {
    font-size: 16px;
    font-family: "UniversCE";
    color: rgb(138, 136, 136);
    line-height: 2.375;
    text-align: left;
    position: absolute;
    left: 689.909px;
    top: 1744px;
    width: 498.058px;
    height: 205.285px;
    z-index: 96;
}

.Shape_15 {
    background-image: url("images\\gal.png");
    border-radius: 50%;
    background-color: rgb(230, 118, 36);
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: 97;
}

/* footer */
.foot1 {
    background-image: url("images\\footer1.png");
    position: absolute;
    left: 0px;
    top: 2080px;
    width: 1200px;
    height: 133px;
    z-index: 25;
}
.foot2 {
    background-image: url("images\\footer2.png");
    position: absolute;
    left: 0px;
    top: 2280px;
    width: 1280px;
    height: 243px;
    z-index: 25;
}