html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
table.myTableStyle,
table.myTableStyle td,
table.myTableStyle th {
    width: 250px;
    border: 5px solid #ffffff;
    table-layout: fixed;
    height: 100%;
    border-spacing: 5px 2rem;
}
table.myTableStyle td {
    min-height: 35px;
    padding: 3px;
    height: 35px;
}
table.myTableStyle tr:first-child {
    height: 45px;
    background: rgb(235, 164, 12);
}
table.myTableStyle tr:nth-child(2) {
    height: 200px;
    background: rgb(194, 235, 12);
}
table.myTableStyle tr:nth-child(3) {
    height: 100px;
    background: rgb(14, 96, 190);
}
table.myTableStyle tr:nth-child(4) {
    height: 70px;
    background: rgb(197, 193, 193);
}
