html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
div.ms1 {
    float: left;
    width: 49%;
    height: 10%;
    background-color: orange;
    border-bottom: 25px solid #fff;
}
div.ms2 {
    float: left;
    width: 100%;
    height: 30%;
    background-color: rgb(171, 200, 37);
    border-bottom: 25px solid #fff;
}
div.ms3 {
    float: left;
    width: 32%;
    height: 20%;
    background-color: rgb(8, 83, 168);
    border-bottom: 25px solid #fff;
}
div.ms4 {
    float: left;
    width: 23.5%;
    height: 20%;
    background-color: rgb(119, 119, 119);
}